# Introduction to Data Science (CS4661). 
## Homework3

#### By: Harshil Patel(306646748)
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------

### Question2: Debt Prediction
In this question, we work with another dataset from the textbook of "An Introduction to
Statistical Learning."

### a- 
Read the dataset file “Credit.csv” (from github using the following command), and assign
it to a Pandas DataFrame:
df = pd.read_csv("https://github.com/mpourhoma/CS4661/raw/master/Credit.csv")

In [30]:
# The following line will import LogisticRegression and DecisionTreeClassifier Classes

from sklearn.linear_model import LogisticRegression

from sklearn.tree import DecisionTreeClassifier

In [31]:
# Importing the required packages and libraries
# we will need numpy and pandas later
import numpy as np
import pandas as pd

In [32]:
# reading a CSV file directly from Web, and store it in a pandas DataFrame:
# "read_csv" is a pandas function to read csv files from web or local device:

df = pd.read_csv("https://github.com/mpourhoma/CS4661/raw/master/Credit.csv")

In [33]:
# displaying the DataFrame:

df  # you can also use print(df)

      Income  Limit  Rating  Cards  Age  Education  Married  Balance
0     14.891   3606     283      2   34         11        1      333
1    106.025   6645     483      3   82         15        1      903
2    104.593   7075     514      4   71         11        0      580
3    148.924   9504     681      3   36         11        0      964
4     55.882   4897     357      2   68         16        1      331
5     80.180   8047     569      4   77         10        0     1151
6     20.996   3388     259      2   37         12        0      203
7     71.408   7114     512      2   87          9        0      872
8     15.125   3300     266      5   66         13        0      279
9     71.061   6819     491      3   41         19        1     1350
10    63.095   8117     589      4   30         14        1     1407
11    15.045   1311     138      3   64         16        0        0
12    80.616   5308     394      1   57          7        1      204
13    43.682   6922     511      1   49          9        1     1081
14    19.144   3291     269      2   75         13        0      148
15    20.089   2525     200      3   57         15        1        0
16    53.598   3714     286      3   73         17        1        0
17    36.496   4378     339      3   69         15        1      368
18    49.570   6384     448      1   28          9        1      891
19    42.079   6626     479      2   44          9        0     1048
20    17.700   2860     235      4   63         16        0       89
21    37.348   6378     458      1   72         17        0      968
22    20.103   2631     213      3   61         10        1        0
23    64.027   5179     398      5   48          8        1      411
24    10.742   1757     156      3   57         15        0        0
25    14.090   4323     326      5   25         16        1      671
26    42.471   3625     289      6   44         12        0      654
27    32.793   4534     333      2   44         16        0      467
28   186.634  13414     949      2   41         14        1     1809
29    26.813   5611     411      4   55         16        0      915
..       ...    ...     ...    ...  ...        ...      ...      ...
370   35.610   6135     466      4   40         12        0      992
371   39.116   2150     173      4   75         15        0        0
372   19.782   3782     293      2   46         16        0      840
373   55.412   5354     383      2   37         16        1     1003
374   29.400   4840     368      3   76         18        1      588
375   20.974   5673     413      5   44         16        1     1000
376   87.625   7167     515      2   46         10        0      767
377   28.144   1567     142      3   51         10        1        0
378   19.349   4941     366      1   33         19        1      717
379   53.308   2860     214      1   84         10        1        0
380  115.123   7760     538      3   83         14        0      661
381  101.788   8029     574      2   84         11        1      849
382   24.824   5495     409      1   33          9        0     1352
383   14.292   3274     282      9   64          9        1      382
384   20.088   1870     180      3   76         16        0        0
385   26.400   5640     398      3   58         15        0      905
386   19.253   3683     287      4   57         10        0      371
387   16.529   1357     126      3   62          9        0        0
388   37.878   6827     482      2   80         13        0     1129
389   83.948   7100     503      2   44         18        0      806
390  135.118  10578     747      3   81         15        1     1393
391   73.327   6555     472      2   43         15        0      721
392   25.974   2308     196      2   24         10        0        0
393   17.316   1335     138      2   65         13        0        0
394   49.794   5758     410      4   40          8        0      734
395   12.096   4100     307      3   32         13        1      560
396   13.364   3838     296      5   65         17        0      480
397   57.872   4171     321      5   67         12        1      138
398   37.728   2525     192      1   44         13        1        0
399   18.701   5524     415      5   64          7        0      966

[400 rows x 8 columns]

### a- 
Check out the dataset. The “Credit” dataset includesthe “balance” column (average credit
card debt for a number of individuals) as target, as well as several features: age, cards
(number of credit cards), education (years of education), income (in thousands of dollars),
limit (credit limit), marital status, and rating (credit rating).

In [34]:
# Creating the Feature Matrix for iris dataset:

# create a python list of feature names that would like to pick from the dataset:
feature_cols = ['Balance','Age','Cards','Education','Income','Limit','Married','Rating']

# use the above list to select the features from the original DataFrame
X = df[feature_cols]  

# checking the label vector by printing every  values
X[::1]

     Balance  Age  Cards  Education   Income  Limit  Married  Rating
0        333   34      2         11   14.891   3606        1     283
1        903   82      3         15  106.025   6645        1     483
2        580   71      4         11  104.593   7075        0     514
3        964   36      3         11  148.924   9504        0     681
4        331   68      2         16   55.882   4897        1     357
5       1151   77      4         10   80.180   8047        0     569
6        203   37      2         12   20.996   3388        0     259
7        872   87      2          9   71.408   7114        0     512
8        279   66      5         13   15.125   3300        0     266
9       1350   41      3         19   71.061   6819        1     491
10      1407   30      4         14   63.095   8117        1     589
11         0   64      3         16   15.045   1311        0     138
12       204   57      1          7   80.616   5308        1     394
13      1081   49      1          9   43.682   6922        1     511
14       148   75      2         13   19.144   3291        0     269
15         0   57      3         15   20.089   2525        1     200
16         0   73      3         17   53.598   3714        1     286
17       368   69      3         15   36.496   4378        1     339
18       891   28      1          9   49.570   6384        1     448
19      1048   44      2          9   42.079   6626        0     479
20        89   63      4         16   17.700   2860        0     235
21       968   72      1         17   37.348   6378        0     458
22         0   61      3         10   20.103   2631        1     213
23       411   48      5          8   64.027   5179        1     398
24         0   57      3         15   10.742   1757        0     156
25       671   25      5         16   14.090   4323        1     326
26       654   44      6         12   42.471   3625        0     289
27       467   44      2         16   32.793   4534        0     333
28      1809   41      2         14  186.634  13414        1     949
29       915   55      4         16   26.813   5611        0     411
..       ...  ...    ...        ...      ...    ...      ...     ...
370      992   40      4         12   35.610   6135        0     466
371        0   75      4         15   39.116   2150        0     173
372      840   46      2         16   19.782   3782        0     293
373     1003   37      2         16   55.412   5354        1     383
374      588   76      3         18   29.400   4840        1     368
375     1000   44      5         16   20.974   5673        1     413
376      767   46      2         10   87.625   7167        0     515
377        0   51      3         10   28.144   1567        1     142
378      717   33      1         19   19.349   4941        1     366
379        0   84      1         10   53.308   2860        1     214
380      661   83      3         14  115.123   7760        0     538
381      849   84      2         11  101.788   8029        1     574
382     1352   33      1          9   24.824   5495        0     409
383      382   64      9          9   14.292   3274        1     282
384        0   76      3         16   20.088   1870        0     180
385      905   58      3         15   26.400   5640        0     398
386      371   57      4         10   19.253   3683        0     287
387        0   62      3          9   16.529   1357        0     126
388     1129   80      2         13   37.878   6827        0     482
389      806   44      2         18   83.948   7100        0     503
390     1393   81      3         15  135.118  10578        1     747
391      721   43      2         15   73.327   6555        0     472
392        0   24      2         10   25.974   2308        0     196
393        0   65      2         13   17.316   1335        0     138
394      734   40      4          8   49.794   5758        0     410
395      560   32      3         13   12.096   4100        1     307
396      480   65      5         17   13.364   3838        0     296
397      138   67      5         12   57.872   4171        1     321
398        0   44      1         13   37.728   2525        1     192
399      966   64      5          7   18.701   5524        0     415

[400 rows x 8 columns]

### b- 
Generate the feature matrix and target vector (target is “balance” in this dataset). Then,
normalize (scale) the features (note: don’t normalize the target vector!). To normalize
the data, you can simply use preprocessing.scale(X) from sklearn.

In [53]:
# The following line will import LogisticRegression and DecisionTreeClassifier Classes

from sklearn.linear_model import LogisticRegression

from sklearn.tree import DecisionTreeClassifier

# Importing the required packages and libraries
# we will need numpy and pandas later
import numpy as np
import pandas as pd
from sklearn import preprocessing

# create a python list of feature names that would like to pick from the dataset:
feature_cols = ['Income','Age','Limit','Rating','Education','Married']

In [ ]:
# use the above list to select the features from the original DataFrame
X = df[feature_cols]

X = pd.DataFrame(df = preprocessing.scale(feature_cols),
               columns=feature_cols

In [ ]:
# print the first 5 rows
x.head()

In [ ]:
import pandas as pd

df = pd.read_csv("https://github.com/mpourhoma/CS4661/raw/master/Credit.csv")

# select a Series of labels (the last column) from the DataFrame
y = df['df']

### c- 
Split the dataset into testing and training sets with the following parameters:
test_size=0.24, random_state=9.

In [ ]:
# The following line will import LinearRegression "Class"

from sklearn.linear_model import LinearRegression

#making a list of the features that are needed
features = ['Income','Limit','Age','Education','Married']

#selecting above features from the data
X = df[feature_cols]

#selecting labels from the data
y = df['Age']

#spliting the data randomly into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.24, random_state=9)

print("Shape of training features :", X_train.shape)
print("Shape of testing features : ", X_test.shape)
print("Shape of training labels : ", y_train.shape)
print("Shape of testing labels :", y_test.shape)

### d- 
Use Linear Regression to train a linear model on the training set. Check the coefficients of
the linear regression model. Which feature is the most important? Which feature is the
least important?

In [ ]:
my_linreg = LinearRegression()

# fitting the model to the training data:
my_linreg.fit(X_train, y_train)

# printing Theta0 using attribute "intercept_":
print(my_linreg.intercept_)

# printing [Theta1, Theta2, Theta3] using attribute "coef_":
print(my_linreg.coef_)

Most important feature is 478.53169403
Lest important feature is -264.98372644

### e- 
Predict “balance” for the users in testing set. Then, compare the predicted balance with
the actual balance by calculating and reporting the RMSE (as we saw in lab tutorial 4).

In [ ]:
from sklearn import metrics
import numpy as np


# make predictions on the testing set
y_prediction = my_linreg.predict(X_test)

print(y_prediction)

# Calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(X_train, y_train)

# Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
rmse = np.sqrt(mse)

print(rmse)

### f- 
Now, use 10-fold Cross-Validation to evaluate the performance of a linear regression in
predicting the balance. Thus, rather than splitting the dataset into testing and training,
use Cross-Validation to evaluate the regression performance. What is the RMSE when you
use cross validation?

In [ ]:
# importing the method:
from sklearn.model_selection import cross_val_score

mse_list = cross_val_score(X_train, y_train, cv=10, scoring='neg_mean_squareds_error')

print(mse_list)

In [ ]:
# calculate the average RMSE as final result of cross validation:
print(mse_list.mean())

-1.672735128976037e-29 is the RMSE when we use cross validation.